body {
  max-width: 100%;
  min-height: 120vh;
  height: auto;
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}
button {
  cursor: url("https://surlapage.fr/widget/cursors/14/1283988.gif"), default;
}

/* header */
header {
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: pink;
  padding: 0;
  color: purple;
}
h1 {
  margin-top: 0;
}
h2 {
  margin-bottom: 0.5rem;
}
#yes,
#no {
  color: pink;
  background-color: purple;
  border: none;
}
.defil {
  width: 99%;
  display: none;
  position: absolute;
  overflow: hidden;
  bottom: -16px;
  left: 0;
  padding-left: 0.5rem;
}
.defil input {
  width: 100%;
  border: none;
  background-color: pink;
}
.defil-visible {
  display: inline;
}

/* when refuses to know */
.noTxt {
  display: none;
}
.noTxt-visible {
  display: block;
  width: 50%;
  height: 200px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  transform: rotate(-20deg);
  background-image: url(/assets/no-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.noTxt-p {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 2.5rem;
  color: purple;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.noTxt-p h3 {
  margin: 0;
}
.noTxt button {
  margin-right: 0.5rem;
  background-color: purple;
  color: pink;
  border-radius: 5px;
}

/* MAIN */
.main {
  width: 100%;
  max-width: 950px;
  display: none;
  padding-top: 2rem;
}
.main-visible {
  width: 90%;
  display: block;
  margin: auto;
}
.main-test {
  width: 50%;
  min-width: 343px;
  margin: auto;
}
.search {
  width: 120%;
}

/* inputs output response */
#input-part,
#input-you {
  background-color: wheat;
  color: purple;
  text-align: center;
  padding: 0.5rem;
}
#resultBtn {
  background-color: purple;
  padding: 0.5rem;
  color: wheat;
}
#output {
  width: 70%;
  min-width: 240px;
  background-color: wheat;
  color: purple;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: solid;
  border-image: url("/assets/background.jpg") 200 / 10px round;
}
.output {
  display: none;
}
.output-visible {
  display: block;
}
.response-result {
  background-color: purple;
  color: wheat;
  margin: 0.5rem 1rem;
}
.anotherCatch {
  display: none;
}
.anotherCatch-visible {
  max-width: 230px;
  padding: auto 1rem;
  display: block;
  margin: 1rem auto;
  background-color: wheat;
  padding: 0.5rem;
  color: purple;
}
.anotherRandom {
  display: none;
}
.anotherRandom-visible {
  display: block;
  margin: 1rem auto;
  background-color: wheat;
  padding: 0.5rem;
  color: purple;
}

/* change catched partner */
.form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 7rem;
  justify-content: center;
}
#radio-form {
  display: none;
  position: relative;
}
input[type="radio"].change {
  display: none;
}
input[type="radio"].change + label {
  background-color: rgba(255, 192, 203, 0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 3.5rem;
  border: none;
}
input[type="radio"].change-pink:checked + label {
  background-color: pink;
  transform: scale(2);
  border-radius: 10px;
  z-index: 1;
}
input[type="radio"].change-blue:checked + label {
  background-color: #00ddff;
  transform: scale(2);
  border-radius: 10px;
  z-index: 1;
}
.pink {
  width: 5rem;
  height: 4rem;
  position: relative;
  margin: 0.5rem;
  background-image: url("/assets/pink-heart.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2rem;
  color: #800080;
}
.blue {
  width: 5rem;
  height: 4rem;
  position: relative;
  margin: 0.5rem;
  background-image: url("/assets/blue-heart.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2rem;
  color: #0000ff;
}
.changeBtn {
  position: absolute;
  top: 10%;
  width: 7rem;
}
.changeBtn p {
  color: wheat;
  margin: auto;
  text-align: center;
  background-color: purple;
}
.changeBtn button {
  width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}

/* change user firstname */
.options {
  display: none;
}
.options-visible {
  display: block;
}
.options select {
  background-color: wheat;
}
.options button {
  background-color: purple;
  color: wheat;
}

/* responsive */
@media screen and (max-width: 1005px) {
  .search {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
  }
}
@media screen and (max-width: 725px) {
  .noTxt-p h3 {
    font-size: 1.5rem;
  }
  body {
    min-height: 250vh;
  }
}
