body {
  max-width: 100%;
  min-height: 150vh;
  height: auto;
  background-image: url(/assets/backgroound.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}
header {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: pink;
  padding: 0;
  color: purple;
}
h1 {
  margin-top: 0;
}
#yes,
#no {
  color: pink;
  background-color: purple;
  border: none;
}
button {
  cursor: url("https://surlapage.fr/widget/cursors/14/1283988.gif"), default;
}
.main {
  width: 100%;
  max-width: 950px;
  display: none;
  padding-top: 2rem;
}
.main-test {
  width: 50%;
  margin: auto;
}
.main-visible {
  width: 90%;
  display: block;
  margin: auto;
}
.noTxt {
  display: none;
}
.noTxt-visible {
  display: block;
  width: 50%;
  height: 200px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  transform: rotate(-20deg);
  background-image: url(/assets/backgroound2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.noTxt-p {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 2.5rem;
  color: purple;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.noTxt-p h3 {
  margin: 0;
}
.noTxt button {
  margin-right: 0.5rem;
  background-color: purple;
  color: pink;
  border-radius: 5px;
}
#input-part,
#input-you {
  background-color: wheat;
  color: purple;
  text-align: center;
  padding: 0.5rem;
}
#resultBtn {
  background-color: purple;
  padding: 0.5rem;
  color: wheat;
}
#output {
  width: 70%;
  background-color: wheat;
  color: purple;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: solid;
  border-image: url("/assets/backgroound.jpg") 200 / 10px round;
}
.output {
  display: none;
}
.output-visible {
  display: block;
}
.response-result {
  background-color: purple;
  color: wheat;
  margin: 0.5rem 1rem;
}
input[type="radio"].change {
  display: none;
}
input[type="radio"].change + label {
  background-color: rgba(255, 192, 203, 0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 3.5rem;
  border: none;
}
input[type="radio"].change-pink:checked + label {
  background-color: pink;
  transform: scale(2);
  border-radius: 10px;
  z-index: 1;
}
input[type="radio"].change-blue:checked + label {
  background-color: #00ddff;
  transform: scale(2);
  border-radius: 10px;
  z-index: 1;
}

.pink {
  width: 5rem;
  height: 4rem;
  position: relative;
  margin: 0.5rem;
  background-image: url("/assets/coeur-pink.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2rem;
  color: #800080;
}
.blue {
  width: 5rem;
  height: 4rem;
  position: relative;
  margin: 0.5rem;
  background-image: url("/assets/coeur-blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2rem;
  color: #0000ff;
}
.form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 7rem;
  justify-content: center;
}
#radio-form {
  display: none;
  position: relative;
  /* left: -25%;
  width: 200%; */
}

.changeBtn {
  position: absolute;
  top: 10%;
  width: 7rem;
}
.changeBtn p {
  color: wheat;
  margin: auto;
  text-align: center;
  background-color: purple;
}
.changeBtn button {
  width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}
.anotherCatch {
  display: none;
}
.anotherCatch-visible {
  display: block;
  margin: 1rem auto;
  background-color: wheat;
  padding: 0.5rem;
  color: purple;
}
.anotherRandom {
  display: none;
}
.anotherRandom-visible {
  display: block;
  margin: 1rem auto;
  background-color: wheat;
  padding: 0.5rem;
  color: purple;
}
.options {
  display: none;
}
.options-visible {
  display: block;
}
.options button {
  background-color: purple;
  color: wheat;
}
.options select {
  background-color: wheat;
}
